# cmake
CMakeFiles/
.cmake/
*.dir/
*.tlog/
CMakeCache.txt
cmake_install.cmake
*.recipe

# make
Makefile

# VS
*.vcxproj*
*.sln
.vs/

# VS Code
.vscode/

# shaders
*.dxbc
*.dxil
*.spirv
*.dxbc.h
*.dxil.h
*.spirv.h

# library
*.lib
*.exp
*.dll
*.pdb
*.so
*.so.*
*.a

# ninja
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
*.log

# external packages
External/NVAPI
External/AGS

# generated folder
_NRI_SDK/